/* GDS-style CSS based on GOV.UK Design System */

/* Base styles */
* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #0b0c0c;
  font-size: 16px;
  line-height: 1.5;
}

.govuk-template__body {
  margin: 0;
}

/* Width container */
.govuk-width-container {
  max-width: 960px;
  margin-right: 15px;
  margin-left: 15px;
}

@media (min-width: 1020px) {
  .govuk-width-container {
    margin-right: 30px;
    margin-left: 30px;
  }
}

/* Header */
.govuk-header {
  background: #005ea5;
  border-bottom: 10px solid #005ea5;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.govuk-header__container {
  position: relative;
  margin-bottom: -10px;
  padding-top: 10px;
  border-bottom: 10px solid #005ea5;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.govuk-header__logo {
  margin-bottom: 10px;
  padding-right: 50px;
  float: left;
}

.govuk-header__content {
  float: left;
  padding-top: 5px;
}

.govuk-header__link {
  color: #ffffff;
  text-decoration: none;
}

.govuk-header__link:hover {
  text-decoration: underline;
}

.govuk-header__link--service-name {
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 10px;
}

.govuk-header__logotype {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.govuk-header__logotype-crown {
  margin-right: 1px;
  fill: currentColor;
  vertical-align: middle;
}

.govuk-header__logotype-text {
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
}

/* Main content */
.govuk-main-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

@media (min-width: 40.0625em) {
  .govuk-main-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* Typography */
.govuk-heading-xl {
  color: #0b0c0c;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.09375;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 40.0625em) {
  .govuk-heading-xl {
    font-size: 48px;
    line-height: 1.04167;
    margin-bottom: 50px;
  }
}

.govuk-heading-m {
  color: #0b0c0c;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .govuk-heading-m {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 20px;
  }
}

.govuk-body-l {
  color: #0b0c0c;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .govuk-body-l {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
}

/* Lists */
.govuk-list {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
  list-style-type: none;
}

.govuk-list--bullet {
  padding-left: 20px;
  list-style-type: disc;
}

.govuk-list > li {
  margin-bottom: 5px;
}

/* Inset text */
.govuk-inset-text {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  border-left: 10px solid #b1b4b6;
  color: #0b0c0c;
}

@media (min-width: 40.0625em) {
  .govuk-inset-text {
    padding: 20px;
  }
}

/* Phase banner */
.govuk-phase-banner {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b1b4b6;
}

.govuk-phase-banner__content {
  display: table;
  margin: 0;
  font-size: 14px;
  line-height: 1.14286;
}

@media (min-width: 40.0625em) {
  .govuk-phase-banner__content {
    font-size: 16px;
    line-height: 1.25;
  }
}

.govuk-phase-banner__content__tag {
  margin-right: 10px;
  display: table-cell;
  vertical-align: baseline;
}

.govuk-phase-banner__text {
  display: table-cell;
  vertical-align: baseline;
}

/* Tag */
.govuk-tag {
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: #ffffff;
  background-color: #1d70b8;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
}

/* Link */
.govuk-link {
  color: #1d70b8;
  text-decoration: underline;
}

.govuk-link:hover {
  color: #003078;
}

.govuk-link:focus {
  outline: 3px solid #ffdd00;
  outline-offset: 0;
  background-color: #ffdd00;
  color: #0b0c0c;
}

/* Footer */
.govuk-footer {
  padding-top: 25px;
  padding-bottom: 15px;
  border-top: 1px solid #b1b4b6;
  color: #0b0c0c;
  background: #f3f2f1;
}

@media (min-width: 40.0625em) {
  .govuk-footer {
    padding-top: 40px;
    padding-bottom: 25px;
  }
}

.govuk-footer__link {
  color: #0b0c0c;
  text-decoration: underline;
}

.govuk-footer__link:hover {
  color: rgba(11, 12, 12, 0.8);
}

.govuk-footer__meta {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.govuk-footer__meta-item {
  margin-right: 15px;
  margin-bottom: 25px;
  margin-left: 15px;
}

.govuk-footer__meta-item--grow {
  flex: 1;
}

@media (max-width: 40.0525em) {
  .govuk-footer__meta-item--grow {
    flex-basis: 320px;
  }
}

.govuk-footer__licence-logo {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.govuk-footer__licence-description {
  display: inline-block;
  font-size: 14px;
  line-height: 1.14286;
}

.govuk-footer__copyright-logo {
  display: inline-block;
  min-width: 125px;
  padding-top: 112px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='132' height='102' viewBox='0 0 132 102'%3E%3Cpath fill='%23000000' fill-rule='evenodd' d='M25 30.2c3.5 1.5 7.7-.2 9.1-3.7 1.5-3.6-.2-7.8-3.9-9.2-3.6-1.4-7.6.3-9.1 3.9-1.4 3.5.3 7.5 3.9 9zM9 39.5c3.6 1.5 7.8-.2 9.2-3.7 1.5-3.6-.2-7.8-3.9-9.1-3.6-1.5-7.6.2-9.1 3.8-1.4 3.5.3 7.5 3.8 9zM4.4 57.2c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.5-1.5-7.6.3-9.1 3.8-1.4 3.5.3 7.6 3.9 9.1zm38.3-21.4c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.6-1.5-7.6.3-9.1 3.8-1.3 3.6.4 7.7 3.9 9.1zm64.4-5.6c-3.6 1.5-7.8-.2-9.1-3.7-1.5-3.6.2-7.8 3.8-9.2 3.6-1.4 7.7.3 9.2 3.9 1.3 3.5-.4 7.5-3.9 9zm15.9 9.3c-3.6 1.5-7.7-.2-9.1-3.7-1.5-3.6.2-7.8 3.7-9.1 3.6-1.5 7.7.2 9.2 3.8 1.5 3.5-.3 7.5-3.8 9zm4.7 17.7c-3.6 1.5-7.8-.2-9.2-3.8-1.5-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.3 3.5-.4 7.6-3.9 9.1zM89.3 35.8c-3.6 1.5-7.8-.2-9.2-3.8-1.4-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.4 3.6-.3 7.7-3.9 9.1zM69.7 17.7l8.9 4.7V9.3l-8.9 2.8c-.2-.3-.5-.6-.9-.9L72.4 0H59.6l3.5 11.2c-.3.3-.6.5-.9.9l-8.8-2.8v13.1l8.8-4.7c.3.3.6.7.9.9l-5 15.4v.1c-.2.8-.4 1.6-.4 2.4 0 4.1 3.1 7.5 7 8.1h.2c.3 0 .7.1 1 .1.4 0 .7 0 1-.1h.2c4-.6 7.1-4.1 7.1-8.1 0-.8-.1-1.7-.4-2.4V34l-5.1-15.4c.4-.2.7-.6 1-.9zM66 92.8c16.9 0 32.8 1.1 47.1 3.2 4-16.9 8.9-26.7 14-33.5l-9.6-3.4c1 4.9 1.1 7.2 0 10.2-1.5-1.4-3-4.3-4.2-8.7L108.6 76c2.8-2 5-3.2 7.5-3.3-4.4 9.4-10 11.9-13.6 11.2-4.3-.8-6.3-4.6-5.6-7.9 1-4.7 5.7-5.9 8-.5 4.3-8.7-3-11.4-7.6-8.8 7.1-7.2 7.9-13.5 2.1-21.1-8 6.1-8.1 12.3-4.5 20.8-4.7-5.4-12.1-2.5-9.5 6.2 3.4-5.2 7.9-2 7.2 3.1-.6 4.3-6.4 7.8-13.5 7.2-10.3-.9-10.9-8-11.2-13.8 2.5-.5 7.1 1.8 11 7.3L80.2 60c-4.1 4.4-8 5.3-12.3 5.4 1.4-4.4 8-11.6 8-11.6H55.5s6.4 7.2 7.9 11.6c-4.2-.1-8-1-12.3-5.4l1.4 16.4c3.9-5.5 8.5-7.7 10.9-7.3-.3 5.8-.9 12.8-11.1 13.8-7.2.6-12.9-2.9-13.5-7.2-.7-5 3.8-8.3 7.1-3.1 2.7-8.7-4.6-11.6-9.4-6.2 3.7-8.5 3.6-14.7-4.6-20.8-5.8 7.6-5 13.9 2.2 21.1-4.7-2.6-11.9.1-7.7 8.8 2.3-5.5 7.1-4.2 8.1.5.7 3.3-1.3 7.1-5.7 7.9-3.5.7-9-1.8-13.5-11.2 2.5.1 4.7 1.3 7.5 3.3l-4.7-15.4c-1.2 4.4-2.7 7.2-4.3 8.7-1.1-3-.9-5.3 0-10.2l-9.5 3.4c5 6.9 9.9 16.7 14 33.5 14.8-2.1 30.8-3.2 47.7-3.2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 125px 102px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.14286;
}

.govuk-footer__inline-list {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
}

.govuk-footer__inline-list-item {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
}

.govuk-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

/* Clearfix */
.govuk-header__container:after {
  content: "";
  display: block;
  clear: both;
}
